.env*

frontend/node_modules
# Build outputs
frontend/dist/
frontend/build/

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*