# djanggo library
Django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-environ

# database library
psycopg2-binary==2.9.9
dj-database-url==2.1.0
pgvector

# production server
gunicorn==21.2.0
whitenoise==6.6.0

# Utilities
python-dotenv
requests
httpx
python-decouple
sendgrid

# AI Integration
google-genai
langchain-google-genai
openai>=1.0.0
semanticscholar