# langchain core
langchain>=0.3,<0.4

# DeepSeek integration (OpenAI compatible)
openai>=1.0.0

# Google Gemini integration (for embeddings only)
google-genai
langchain-google-genai

# Vectorstores / embeddings
sentence-transformers
faiss-cpu
pgvector
psycopg2-binary

# ML / utils
torch
transformers
scikit-learn
pandas
numpy
tqdm
python-dotenv

# HTTP requests
requests
urllib3

# pdf
pymupdf