# langchain core
langchain>=0.3,<0.4

# Google Gemini integration
google-genai>=0.8.3
langchain-google-genai>=2.1.12

# Vectorstores / embeddings
sentence-transformers
faiss-cpu
pgvector
psycopg2-binary

# ML / utils
torch
transformers
scikit-learn
pandas
numpy
tqdm
python-dotenv
flask

# pdf
pymupdf